.intro {
  text-align: center;
  background: rgb(244, 244, 206);
  padding: 150px 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 2000;
  font-style: normal;
  color: black;
  -webkit-text-fill-color: rgb(
    244,
    244,
    206
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px black;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #fbfefe;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-delay: 200ms;
}
li a:hover {
  color: #0c0d0d8f;
  border-radius: 5px;
  transition-delay: 200ms;
}
