.intro {
  text-align: center;
  background: rgb(244, 244, 206);
  padding: 150px;
}

.intro h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
.intro h2 {
  font-size: 25px;
}
.intro p {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #fbfefe;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-delay: 200ms;
}
li a:hover {
  color: #0c0d0d8f;
  border-radius: 5px;
  transition-delay: 200ms;
}
