:root {
  --branding-color: pink;
  --heading-font-family: "Poppins", serif;
  --border-size: 15px;
}

.intro {
  text-align: center;

  padding: 80px;
  margin-right: 80px;
  margin-left: 80px;
  border-radius: var(--border-size);
  background: linear-gradient(
    48deg,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4
  );
  animation: foil 8s ease infinite;
}

.intro h1 {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: bold;
  font-size: 90px;
  margin-top: auto;
  color: #97e6f8;
  text-shadow: 3px 4px 5px #c78de4;
}
.intro h2 {
  font-size: 20px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.42);
  margin-top: -20px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  margin-right: 70px;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-delay: 200ms;
}
li a:hover {
  color: white;
  border-radius: var(--border-size);
  transition-delay: 150ms;
  background: linear-gradient(
    48deg,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4
  );
}

.bee {
  font-size: 40px;
  color: var(--branding-color);
  text-shadow: rgb(197, 135, 145) 2px 2px 2px;
}
.button {
  background: linear-gradient(
    48deg,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4,
    #d9d7ed,
    #dff7f1,
    #acf0ff,
    #e3c1f4
  );
  color: rgb(199, 120, 171);
  text-decoration: none;
  border: 1px solid var(--branding-color);
  padding: 15px;
  border-radius: var(--border-size);
}

.btn-branding {
  background: black;
  color: aliceblue;

  text-decoration: none;
  padding: 15px;
  border-radius: var(--border-size);
}
.text-center {
  margin-top: 10px;
}
p {
  line-height: 30px;
  font-size: 16px;
}
.project-container {
  padding: 40px 130px;
}
.panda {
  border-radius: 50px;
}
.mochi {
  border-radius: 50px;
}
